@import "../../../../defaultStyles";

.post {
  padding: 4px;
  display: flex;
  border: 1px solid $myBlue;
  border-radius: 5px;

  & + & {
    margin-top: 20px;
  }
}

.postHeader + .postContent {
  margin-left: 20px;
}

.postHeader {
  position: relative;
  top: -1px;
  .imgWrapper {
    height: 60px;
    width: 60px;

    .img {
      height: 100%;
      width: 100%;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      border: 1px solid $myBlue;
      border-radius: 50%;
    }
  }
}

.postContent {
  width: 100%;

  .name {
    max-height: 30px;
    border-bottom: $myBlue 1px solid;
  }

  .text {

  }
}