@import "../../defaultStyles";

.messages {
  width: 99%;
  display: flex;


  .availableChats + .currentChat {
    margin-left: 20px;
  }

  .availableChats {
    width: 40%;
    background-color: white;
    border-radius: 5px;
  }

  .currentChat {
    width: 60%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .chatHeader {

    }
    .chatContent {
      height: 70vh;
      border-top: $myBlue solid 1px;
      padding: 0 10px;
    }
    .chatInput {

    }
  }
}