@import "../../../defaultStyles";

.messageItem {
  padding: 4px;
  display: flex;

  & + & {
    margin-top: 20px;
  }
}

.messageHeader + .messageContent {
  margin-left: 20px;
}

.messageHeader {
  display: flex;
  align-items: center;
}

.messageContent {
  width: 100%;

  .name {
    max-height: 30px;
    border-bottom: $myBlue 1px solid;
  }

  .text {

  }
}