@import "../../defaultStyles";

.test {
  width: 99%;

  .form {
    display: flex;
    justify-content: center;

    .formWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      padding-top: 30px;
    }
  }
}

.errorWrap {
  width: 100%;

  .error + .error {
    margin-left: 10px;
  }

  .error {
    display: inline;
    margin-left: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #f44336;
  }

}




