@import "../../../defaultStyles";

.settings {
  width: 99%;
  display: flex;


  .dataOther {
    width: 100%;

    .item {
      display: flex;
      justify-content: space-between;
    }
  }
}

.btn {
  background-color: $myGray;
}